{% block content %}
    <div class="card-cart">
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>price</th>
                    <th>amount</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.cart.items %}
                {% for key, value in request.session.cart.items %}
                
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.price }}</td>
                    <td>{{ value.amount }}
                        <a href="{% url 'Add'  value.product_id %}">+</a>
                        <a href="{% url 'Sub'  value.product_id %}">-</a>
                    </td>
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td>
                        <div> not products </div>
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <th>Total:</th>
                    <td>$ {{total_cart}}</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <div>
            <a href="{% url 'CLS' %}">Clean</a>
            <a href="#">Save</a>
        </div>
    </div>
{% endblock %}